/* Global ------------------------------- */
:root {
  --color-dark: #363f5f;
  --color-red: #e92929;
  --color-green: #02d15f;
  --color-greenAccent: #0bba28;
  --color-purple: #6626a3;
  --test: #6b6b6b;
}

/* Seletor Universal - selecionaremos todas as tags que tivermos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /* 15px */
}

body {
  background: #e5e6e9;

  font-family: "Montserrat", sans-serif;
}


/* Header ------------------------------- */
header {
  background: var(--color-purple);

  padding: 2rem 0 10rem;
  text-align: center;

  border-radius: 0 0 5rem 5rem;
}

/*Container ----------------------------- */
.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.login {
  background: #fff;
  border-radius: .70rem;
  box-shadow: 1px 1px 10px var(--color-purple);
  
  width: 100%;
  height: 24rem;
  margin-top: -6rem;
  padding: 4rem;
}

.login h2 {
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.login-form input,
.login-form button {
  width: 100%;
  border-radius: 5px;
  
  /* box-shadow: 0px 0px 1px rgb(82, 82, 82); */

  padding: 10px;
  height: 40px;

  margin-bottom: 20px;
}

.login-form input {
  border: .5px solid #808080;
  outline: none;
}

.login-form button {
  background: var(--color-green);
  color: #fff; 

  font-size: 20px;
  height: 50px;

  border: none;
}

.login-form button:hover {
  background: var(--color-greenAccent)
}

/* Footer ------------------------------- */
footer {
  text-align: center;
  padding: 4rem 0 2rem;

  color: var(--color-dark);
  opacity: 0.6;
}